<h2>Edit A Movie You've Watched:</h2>
<div class="Form">
  <%= form_tag "/watched_movies/#{@watched_movie.id}", method: :put do %>
    <img src="<%= @watched_movie.movie.movie_poster %>">
    <p><label>Title: </label><%= @watched_movie.movie.title %></p>
    <input type="hidden" name="watched_movie_id" value=<%= @watched_movie.id %> >
    <p><label>Comment: </label><input type="text" name="comment" value="<%= @watched_movie.comment %>"</p>
    <p><label>Rating: </label><input type="text" name="rating" value="<%= @watched_movie.rating%>"></p>
    <p><label>Date  </label>Watched:<input type="text" name="date_watched" value= "<%= @watched_movie.date_watched %>"></p>
    <p><label>Theatre  </label>Name:<input type="text" name="theatre_name" value="<%= @watched_movie.theatre_name %>"></p>
    <button name="Update Movie" type="submit">Update Movie</button>
  <% end %>
</div>