<!-- This is just one movie -->

<h2><%= @movie.title %></h2>
<p><img src= <%= @movie.image %>></p>
<p>Director: <%= @movie.director %></p>
<p>Air Date: <%= @movie.air_date %></p>
<p>Duration: <%= @movie.duration %></p>
<p>Genre: <%= @movie.genre %></p>
<p><a href=<%= @movie.imdb_link %>>IMDB Link</a></p>
